TgCrypto ==1.2.2
ffmpeg-python
git+https://github.com/pyrogram/pyrogram@master
pytgcalls==3.0.0.dev16
tswift
youtube_search_python
youtube_search
requests
asyncio
python-rapidjson>=0.9.3
Pillow>=4.2.0
aiohttp
psutil
pafy==0.5.5
youtube-dl
pymongo
dnspython
googletrans==4.0.0rc1
gTTS

